---
// src/pages/index.astro
import HeroSection from '../components/HeroSection.astro';
import FeaturesSection from '../components/FeaturesSection.astro';
import TestimonialsSection from '../components/TestimonialsSection.astro';
import PricingSection from '../components/PricingSection.jsx';
import ContactSection from '../components/ContactSection.astro'
import FooterSection from '../components/FooterSection.astro';
import Layout from '../layouts/Layout.astro';


const title = "HomeDex - Your Digital Home Management Hub";
const description = "Keep all your home documents, warranties, maintenance tasks, and appointments organized in one secure place. Never lose a warranty or miss a maintenance task again.";
---

<Layout title={title} description={description}>

    <div class="min-h-screen bg-base-100 overflow-hidden">
      <HeroSection />
      <FeaturesSection />
      <TestimonialsSection />
      <PricingSection client:load />
      <ContactSection />
    </div>
  </body>
</Layout>
