services:
  frontend:
    env_file:
      - .env
    build:
      context: ./frontend/
      dockerfile: Dockerfile.prod
      args:
        REACT_APP_HOST: ${REACT_APP_HOST}
        REACT_APP_STRIPE_PUBLIC_KEY: ${REACT_APP_STRIPE_PUBLIC_KEY}

  astro:
    build:
      context: ./astro/
      dockerfile: Dockerfile.prod
      args:
        PUBLIC_ASTRO_DOMAIN: ${PUBLIC_ASTRO_DOMAIN}
        PUBLIC_STRIPE_PUBLIC_KEY: ${PUBLIC_STRIPE_PUBLIC_KEY}
    env_file:
      - .env

  redis:
    image: redis:7-alpine
    volumes:
      - redis_data:/data

  backend:
    env_file:
      - .env
    build:
      context: ./backend/
      dockerfile: Dockerfile
    depends_on:
      - db

  # proxy:
  #   image: traefik:v3.4
  #   ports:
  #     - ${HTTP_PORT:-80}:80
  #     - ${HTTPS_PORT:-443}:443
  #   volumes:
  #     - ./traefik.toml:/etc/traefik/traefik.toml:ro
  #     - ./dynamic_conf.toml:/etc/traefik/dynamic_conf.toml:ro
  #     - ./acme.json:/acme.json
  #   env_file:
  #     - .env

  db:
    image: postgres:17
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  celery_worker:
    env_file:
      - .env
    build:
      context: ./backend/
      dockerfile: Dockerfile
    entrypoint: /usr/local/bin/celery-entrypoint.sh
    volumes:
      - ./backend:/code/
    depends_on:
      - db
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - CELERY_MODE=worker

  celery_beat:
    env_file:
      - .env
    build:
      context: ./backend/
      dockerfile: Dockerfile
    entrypoint: /usr/local/bin/celery-entrypoint.sh
    volumes:
      - ./backend:/code/
    depends_on:
      - db
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - CELERY_MODE=beat

volumes:
  postgres_data:
  redis_data:
