---
const themes = [
  "light", "dark", "cupcake", "bumblebee", "emerald", "corporate", "synthwave", "retro", "cyberpunk",
  "valentine", "halloween", "garden", "forest", "aqua", "lofi", "pastel", "fantasy", "wireframe",
  "black", "luxury", "dracula", "cmyk", "autumn", "business", "acid", "lemonade", "night", "coffee", "winter"
];
---

<div class="dropdown dropdown-end">
  <label tabindex={0} class="btn btn-ghost rounded-btn bg-base-200 normal-case">
    Theme
    <svg width="12px" height="12px" class="ml-1 h-3 w-3 fill-current opacity-60 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048"><path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path></svg>
  </label>
  <ul tabindex={0} class="dropdown-content z-[1] p-2 shadow-2xl bg-base-200 rounded-box w-52 max-h-96 overflow-y-auto">
    {themes.map((theme) => (
      <li class="mb-1 last:mb-0"> <!-- Added margin-bottom to all items except the last one -->
        <button class="outline-base-content overflow-hidden rounded-lg text-left w-full" data-set-theme={theme} data-act-class="active">
          <div data-theme={theme} class="bg-base-100 text-base-content w-full cursor-pointer font-sans">
            <div class="grid grid-cols-5 grid-rows-3">
              <div class="col-span-5 row-span-3 row-start-1 flex items-center gap-2 px-4 py-3"> <!-- Adjusted padding and added gap -->
                <div class="flex-grow text-sm font-bold">{theme}</div> 
                <div class="flex flex-shrink-0 flex-wrap gap-1">
                  <div class="bg-primary w-2 h-2 rounded"></div> 
                  <div class="bg-secondary w-2 h-2 rounded"></div> 
                  <div class="bg-accent w-2 h-2 rounded"></div> 
                  <div class="bg-neutral w-2 h-2 rounded"></div>
                </div>
              </div>
            </div>
          </div>
        </button>
      </li>
    ))}
  </ul>
</div>

<script>
  function setTheme(theme) {
    document.documentElement.setAttribute('data-theme', theme);
    localStorage.setItem('theme', theme);
  }

  document.addEventListener('click', function(event) {
    const target = event.target as HTMLElement;
    const themeButton = target.closest('[data-set-theme]') as HTMLElement;
    if (themeButton) {
      const theme = themeButton.dataset.setTheme;
      if (theme) {
        setTheme(theme);
      }
    }
  });

  // Set initial theme
  const storedTheme = localStorage.getItem('theme') || document.documentElement.getAttribute('data-theme') || 'light';
  setTheme(storedTheme);
</script>